form{
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 35px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10%;
}

input{
    display: inline-block;
    margin: 10px 0;
    padding: 8px 15px;
    width: 100%;
}

textarea{
    border-radius: 3px;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 17px;
}

button{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 1px;
    cursor: pointer;
    margin: 8px 0;
    padding: 8px 15px;
    width: 100%;
    font-size: 20px;
}
button:focus,
button:hover{
    filter: brightness(50%);
}

