#row{
    display: flex;
    flex-wrap: wrap;
    padding: 7px 0px;
    vertical-align: middle;
}
.column{
    margin-top: 7px;
    max-width: 100%;
    vertical-align: middle;
}
.column img{
    padding-bottom: 12px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .column{
        max-width: 50%;
        padding:0 6px;
    }
    #row{
        padding: 0 6px;
    }
}

@media only screen and (min-width: 1200px) {
.column{
    max-width: 25%;
}
}