p{
    text-align: center;
}

aside{
position: absolute;
  top: 55%;
  left: 94%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0); 
  font-size: 16px;
  text-align: center;
  z-index: 3;
}

aside a{
    color: white;
    display: block;
    padding: 0px 100px;
    text-decoration: none;
    width: 100%;
}

aside a:hover{
     text-shadow: 2px 2px 4px rgb(99, 97, 97);
  color: rgb(97, 96, 96);
  transform: none;
}


.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  aspect-ratio: 16 /9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-bg {
  position:absolute;
  top: -2.5%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px) brightness(80%);
  z-index: 1;
  border-radius: 12px;
}

.hero-main {
  position: relative;
  top: 0%;
  left: -10%;
  width: 120%; 
  max-width: 1200px;
  height: auto;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  border-radius: 12px; 
}


@media only screen and (max-width:768px) {
main{
    display: flex;
}
aside{
top: 10%;
    left: 50%;
    transform: translateX(-50%); /* Only center horizontally */
    font-size: 17px;
}
section{
    display: inline;
    float:right;
    width: 70%;
}
.indexbody{
    max-width: 1200px;
    align-self: center;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 17px;
    line-height: 1.4;
}
}

header{
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
 }

 footer{
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 4;
 }